server:
  port: 8080

codefolio:
  dev-mode: true

security:
  user:
    name: admin
    password: admin1234

spring:
  messages:
    encoding: UTF-8
  application:
    name: codefolio
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: true
  datasource:
    url: jdbc:mysql://codefolio.cx1hldbpd8hb.ap-northeast-2.rds.amazonaws.com:3306/codefolio
    username: codefolio
    password: landvibe123
  session:
    store-type: redis
  redis:
    host: localhost
    password: admin1234
    port: 6379

github:
  client:
    client-id: bafde5b8fa7e370b56fb
    client-secret: 85b2cf9dcafd913f7d468e7ed52f3a0811d27402
    access-token-uri: https://github.com/login/oauth/access_token
    user-authorization-uri: https://github.com/login/oauth/authorize
    authentication-scheme: form
  resource:
    user-info-uri: https://api.github.com/user

---

spring:
  profiles: local
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:mysql://localhost:3306/codefolio
    username: root
    password: admin1234
  session:
    store-type: none

github:
    client:
      client-id: bafde5b8fa7e370b56fb
      client-secret: 85b2cf9dcafd913f7d468e7ed52f3a0811d27402
